div {
    width: 100px; height: 100px;
    border: 1px solid #222;
    display: inline-block;
}

#margin1 {margin: 50px;}
#margin2 {margin: 30px 50px;}
#margin3 {margin: 30px 20px 50px;}
#margin4 {margin: 30px 20px 50px 40px;}
#margin5 {margin-right: 50px;}

div[class*="div"] {
    width: 300px; height: 300px;
    display: block;
    margin: 0 auto;
}
